/*
!cad/
!doc/
!FactorCal/
!scripts/
!src/
!InputFile/
InputFile/*
!InputFile/src/
InputFile/src/__pycache__/
!InputFile/MakeTransFile
!benchmark.sh
!CMakeLists.txt
!G4Batch.sh
!G4Horus.cc
!license.md
!readme.md
.*
!/.gitignore
